header {
  box-shadow: 0px 2px 10px 0px silver;
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.navBar {
  height: 40px;
}

.nav-item {
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
  line-height: normal;
  font-weight: bold;
}

input[type="search"] {
  padding: 12px 30px 12px 50px;
  outline: none;
  width: 500px;
  height: 40px;
  border: none;
  border: 1px solid silver;
  border-radius: 5px;
  background-color: rgba(192, 192, 192, 0.164);
}

@media (max-width: 991.98px) {
  #navbarNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .search-box {
    padding: 20px 0;
  }

  .categories-list ul {
    display: none;
  }
}
