#login .hidePasswordBtn,
#sign-up .hidePasswordBtn {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

#sign-up .upload-photo {
  position: absolute;
  top: 40px;
  font-size: 15px;
  opacity: 80;
}
