@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Open-Sans", "Assistant", sans-serif;
}

main {
  padding-top: 60px; /* Height of the header */
  padding-bottom: 2px;
  background-color: #e2e8f0;
  min-height: calc(100vh - 70px);
  overflow: auto;
}

/* Colors */
.text-pink,
.text-hover-pink:hover {
  color: #ff3e6c;
}

.text-grey {
  color: #878787;
}

.text-teal {
  color: #007185;
}

.bg-lightgreen {
  background-color: #c9fde3;
}

.bg-slate-200 {
  background-color: #e2e8f0;
}

.bg-lightgrey {
  background-color: rgb(243, 243, 243);
}

.bg-pink {
  background-color: #fc274b;
}

.border-pink {
  border-color: #fc274b !important;
}

/* Buttons */
.btn-pink {
  background-color: #ff3e6c !important;
  color: white !important;
  cursor: pointer;
}

.btn-pink:hover,
.bg-pink:hover {
  opacity: 0.9;
}

/* Centering */
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cursor pointer */
.cursor-pointer {
  cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scroll-width-thin {
  scrollbar-width: none;
}

/* login and signup */
#login .hidePasswordBtn,
#sign-up .hidePasswordBtn {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

#sign-up .upload-photo {
  position: absolute;
  top: 40px;
  font-size: 15px;
  opacity: 80;
}

/* admin panel sidebar */
.custom-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10;
  position: relative;
}

.hover-bg-slate-200:hover {
  background-color: rgb(243, 243, 243);
}

/* all users */
.user-table {
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-table th,
.user-table td {
  text-align: center;
  vertical-align: middle;
}

.user-table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

/* full size image viewer */
.delete-icon {
  display: none;
}

.position-relative:hover .delete-icon {
  display: block;
}

/* image  */
.image-container {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  height: 100%;
  object-fit: contain;
  background-color: transparent;
  mix-blend-mode: multiply;
}

/* loading components */
.pulse-animation {
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f5f5f5;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.bg-lightgrey {
  background-color: "#e0e0e0";
}

/* horizontal-card-products */
.left-arrow-icon,
.right-arrow-icon {
  display: none;
}

.slider-products:hover .left-arrow-icon,
.slider-products:hover .right-arrow-icon {
  display: block;
}

/* product details image */
.image-list-container {
  position: relative;
  overflow: hidden;
}

.image-thumbnail {
  object-fit: contain;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.image-thumbnail-container {
  position: relative;
  height: 5rem;
  width: 5rem;
  margin-bottom: 0.5rem; /* Adjust spacing as needed */
}

.image-thumbnail-container:hover .image-preview {
  opacity: 1;
}

.image-preview {
  transition: opacity 0.3s ease;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.image-preview img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* user profile */
#userProfileCard .card,
#userAddress .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#userProfileCard .card:hover,
#userAddress .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#userProfileCard .text-secondary {
  transition: color 0.3s ease;
}

/* Apply flex-column layout for image thumbnails on XS screens */
@media (max-width: 576px) {
  .image-container {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .product-image {
    width: 100%;
    height: auto;
  }

  .me-3 {
    margin-right: 0;
  }

  /* Ensure that the image list and main image are stacked */
  .image-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .main-image-container {
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }

  .product-zoom-image {
    display: none;
  }
}
